// fonts
$font-heiti: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica,
  "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
  "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
  "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
  SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-songti: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti,
  "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE",
  "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
$font-kaiti: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC",
  "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung",
  "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song",
  "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE",
  PMingLiU, MingLiU, serif;

// colors
$color-basic:#79c79f;
$color-font:#333333;

// placeholder
%clearFix{
  &::after{
    content: '';
    clear: both;
    display: block;
  }
}// 使用方法：extend %clearfix;
